.header {
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  color: white;
}
body {
  text-align: center;
  font-family: Verdana;
  background-color: Black;
}
.download {
  font-size: 16px;
  color: Aquamarine;
}
